

h1{
  color: #6E85B7
}
h3{
color: #6E85B7
}
body{
  background-color: #DEF5E5
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}

img{

  height:190px
}
